
#loading-message {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg-color {
    background-color:lightslategrey
}

.invalid-text {
    color: darkred
}

