<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>IMDb Episode Duration Scraper</h1>
    <p>Only works for shows with less than 250 episodes</p>
    <form method="POST">
      <label for="imdb_id">Enter IMDb ID of TV show:</label>
      <input type="text" id="imdb_id" name="imdb_id" required />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
